<!--  font-size: 
xx-small : minuscule ;
x-small : très petit ;
small : petit ;
medium : moyen ;
large : grand ;
x-large : très grand ;
xx-large : euh… gigante 

	font-weight
bold : surligné
italic : italique

	texte-decoration
line-through : barré.
overline : ligne au-dessus.
blink : clignotant. Ne fonctionne pas sur tous les navigateurs (Internet Explorer et Google Chrome, notamment).
none : normal (par défaut).-->

@font-face {
		font-family: Arial;
}

body{
	font-family: 'Source code Pro', Arial Narrow, sans-serif;
	margin: 0px;
	padding: 0px;
}

.bgimg{
	height: 100vh;
    background-image: linear-gradient(27deg, #004E95 50%, #013A6B 50%);
}
.centerdiv{
 width: 350px;
 height: 400px;
 position: absolute;
 top: 50%;
 left: 50%;
 background-color: red;
 transform: translate(-50%, -50%);
 background-image: linear-gradient(27deg, #013A6B 50%, #004E95 50%);
 box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.header{
	width:100%;
	height: 80px;
	display: block;
	background-color: black;
}

.elementsduheader{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.contenudulogo{
	height: 100%;
	display: table;
	margin-left: -320px;
}

.contenudulogo h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';
	font-size: 32px;
	font-weight: 50;
}

.contenudulogo h1 span{
	font-weight: 800;
}

.menu-deroulant-profile{
	position: relative;
	top: -60px;
	right: -1200px;
	background-color:#3a3c3e;
	width:200px;
	height:40px;
	border-radius:2px;
}

.menu-deroulant-profile:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 20px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.menu-deroulant-profile ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 200px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.menu-deroulant-profile:active ul,
.menu-deroulant-profile:hover ul,
.menu-deroulant-profile.show ul{
	display:block;
}

.menu-deroulant-profile ul li{
	padding:5px;
}

.menu-deroulant-profile ul li a:hover{
	opacity:0.9;
}

.menu-deroulant-profile ul li a.highlight{
	color:#e9ac09;
}
.menu-deroulant-profile img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}
.photoprofile {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 190px;
  height: 40px;
  padding: 20px 50px 20% 20px;
  margin-left: -43.9%;
  margin-top: -3.8%;
  overflow: hidden;
  border: none;
  background: white;
}
.photoprofile img{
	border-radius:50%;
	position:absolute;
	top:13%;
	max-width: 190px;
	left:25px;
}
.myprofile {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 260px;
  height: 70%;
  margin-left: -43.9%;
  overflow: hidden;
  border: none;
  font: normal 20px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34D8AC;
}
.nomutilisateur {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 190px;
  height: 40px;
  padding: 20px 50px 20% 20px;
  margin-left: -43.9%;
  margin-top: 0.1%;
  overflow: hidden;
  border: none;
  text-align: center;
  background: black;
}
.nomutilisateur h1{
	display: block;
	font-family: 20px 'Montserrat';
}
.nomutilisateur span{
	display: block;
	font-family: 10px 'Montserrat';
	color: #ED4F16;
}
.barredenavigation{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 190px;
  height: 50%;
  padding: 20px 50px 20% 20px;
  margin-left: -43.9%;
  margin-top: -1%;
  overflow: hidden;
  border: none;
  text-align: center;
  background: black;
}
.barredenavigation a{
  display: block;
  font-family: 20px 'Montserrat';
  color: white;
}
.deconnexion{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 190px;
  height: 0%;
  padding: 20px 50px 4.1% 20px;
  margin-left: -43.9%;
  overflow: hidden;
  border: none;
  text-align: center;
  background: #ED4F16;
}
.deconnexion a{
	font-family: 20px 'Montserrat';
	color: white;
	text-decoration: none; 
}


