@font-face {
		font-family: Arial;
}

body{
	font-family: 'Source code Pro', Arial Narrow, sans-serif;
	margin: 0px;
	padding: 0px;
}

button{
  text-align: center;
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 2000px) {

.bgimg{
	height: 100vh;
    background-image: linear-gradient(27deg, #004E95 50%, #013A6B 50%);
}

.header{
	width:100%;
	height: 80px;
	display: block;
	background-color: black;
}

.elementsduheader{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.contenudulogo{
	height: 100%;
	display: table;
	margin-left: -10%;
}

.contenudulogo h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';
	font-size: 32px;
	font-weight: 50;
}

.contenudulogo h1 span{
	font-weight: 800;
}

.menu-deroulant-profile{
	position: relative;
	top: -70%;
	margin-left: 94%;
	background-color:#3a3c3e;
	width:200px;
	height:40px;
	border-radius:2px;
}

.menu-deroulant-profile:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 20px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.menu-deroulant-profile ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 200px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.menu-deroulant-profile:active ul,
.menu-deroulant-profile:hover ul,
.menu-deroulant-profile.show ul{
	display:block;
}

.menu-deroulant-profile ul li{
	padding:5px;
}

.menu-deroulant-profile ul li a:hover{
	opacity:0.9;
}

.menu-deroulant-profile ul li a.highlight{
	color:#e9ac09;
}
.menu-deroulant-profile img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
	display: block;
  width: 350px;
  background: #110E42;
  padding: 30px 0px;
  position: fixed;
  margin-left: -13.8%;
  margin-top: -3%;
  height: 77.7%;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px 6%;
  margin-left: -10%;
  list-style:none;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #DB4646;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box_aa{position: absolute;}
.box_aa{left: 55%;
        top: 26%;
        z-index: 5;}

.aa{
    position: fixed;
    left: 38%;
    top: 15%;
    color: red;
    text-decoration: overline;
    text-decoration: underline;
}

.boxe_menu_vertical{
    position: absolute;
    top: 42%;
    left: 87%;
}


.resultat_test{
    color: crimson;
    text-align: center;
}

.boxe8 {
    width: 950px;
    height: 500px;
    background: linear-gradient( black 12% ,0.5%, #0076FB 88% );
    margin:10px auto;
    position: fixed;
    left: 26%;
    top: 15%;
    z-index: auto;
}