<!--  font-size: 
xx-small : minuscule ;
x-small : très petit ;
small : petit ;
medium : moyen ;
large : grand ;
x-large : très grand ;
xx-large : euh… gigante 

	font-weight
bold : surligné
italic : italique

	texte-decoration
line-through : barré.
overline : ligne au-dessus.
blink : clignotant. Ne fonctionne pas sur tous les navigateurs (Internet Explorer et Google Chrome, notamment).
none : normal (par défaut).-->

@font-face {
		font-family: Arial;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Source code Pro', Arial Narrow, sans-serif;
	margin: 0px;
	padding: 0px;
}

.bgimg{
	height: 100vh;
    background-image: linear-gradient(27deg, #004E95 50%, #013A6B 50%);
}

.inscriptiondiv{
 width: 1500px;
 height: 900px;
 position: absolute;
 top: 50%;
 left: 50%;
 background-color: red;
 transform: translate(-50%, -50%);
 background-image: linear-gradient(27deg, #013A6B 50%, #004E95 50%);
 box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#profilepic{
 width: 120px;
 height: 120px;
 border-radius: 40%;
 position: relative;
 top: -35px;
 left: calc( (1500px - 150px) / 2 )
}

h2{
 text-align: center;
 color: white;
 text-transform: uppercase;
 font-size: 2em;
 word-spacing: 10px;
 margin-top: -33px;
 margin-bottom: 50px;
 text-shadow: -2px 2px 1px #0A84C6;
}

.inputboxcolonne1{
 text-align: center;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 margin-left: 150px;
 margin-top: 50px;
 padding: 0 10px;
 box-sizing: border-box;
}

.inputboxcolonne2{
 text-align: center;
 position: absolute;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 box-sizing: border-box;
 top: 185px;
 right: 230px;
}

.inputboxcolonne3{
 text-align: center;
 position: absolute;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 box-sizing: border-box;
 top: 280px;
 right: 230px;
}

.inputboxcolonne4{
 text-align: center;
 position: absolute;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 box-sizing: border-box;
 top: 385px;
 right: 230px;
}

.inputboxcolonne5{
 text-align: center;
 position: absolute;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 box-sizing: border-box;
 top: 500px;
 right: 230px;
}

.inputboxcolonne6{
 text-align: center;
 position: absolute;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 box-sizing: border-box;
 top: 600px;
 right: 230px;
}

.inputboxcolonne7{
 text-align: center;
 position: absolute;
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 box-sizing: border-box;
 top: 710px;
 right: 230px;
}

::placeholder{
 letter-spacing: 2px;
 color: black;
}

.cguterms{
	text-align: center;
	position: absolute;
	margin-top: -120px;
	margin-left: 1010px;
	text-shadow: 0px 1px 1px white;
	color: white;
}

button{
 width: calc(20% - 40px);
 height: 55px;
 display: block;
 color: white;
 margin: auto;
 margin-top: -90px;
 margin-right: 220px;
 background-color: #0A84C6;
 border: none;
 border-radius: 50px;
}
